<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 麦克风权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- WebRTC必须的权限，否则setLocalDescription会崩溃 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- WebRTC必须的权限-->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="NavTalk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <!-- 启动页 -->
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!-- 聊天页面 -->
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
    </application>

</manifest>